[submodule "cc359ppmi"]
	path = cc359ppmi
	url = https://github.com/raraduck/cc359ppmi.git
	branch = main
[submodule "cc359ppmi128"]
	path = cc359ppmi128
	url = https://github.com/raraduck/cc359ppmi128.git
